.page-bg-1{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.89), rgba(0, 0, 0, 0.37)), url(../assets/img/home.jpg); 
    background-size: cover;
}
.page-bg-profile{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.89), rgba(0, 0, 0, 0.37)), url(../assets/img/depan.jpg); 
    background-size: cover;
}

.foto-max {
    width: 10rem;
}